body{
  font-family: 'Rubik, sans-serif';
  font-size: 16px;
}

/* media Query */
@media screen and (max-width: 960px){
  /* .comment{
    position: relative;
  }
  .commentActions{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  .score_counter{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  } */
}